<!-- footer component -->
<footer>
	<div class="wrapper">
		<hr/>
		<div class="flex-between flex-middle">
			<img src="../assets/logos/main-grey.svg" id="footer-logo" />
			<ul>
				<a href="/"><li>Home</li></a>
				<a href="/about/"><li>About Us</li></a>
				<a href="/projects/"><li>Projects</li></a>
				<a href="/events/"><li>Events</li></a>
				<a href="https://medium.com/user-experience-society-dlsu/" target="blank"><li>Articles</li></a>
			</ul>
		</div>
		<div class="flex-between flex-middle">
			<p>
				Email us at: <b>dlsu.uxsociety@gmail.com</b>
				<br/>
				&copy; 2019 User Experience Society - DLSU
			</p>
			<div id="social-media">
				<a href="https://www.facebook.com/uxsocietydlsu/" target="blank"><i class="fab fa-facebook"></i></a>
				<a href="https://www.twitter.com/uxsocietydlsu/" target="blank"><i class="fab fa-twitter"></i></a>
				<a href="https://www.instagram.com/uxsocietydlsu/" target="blank"><i class="fab fa-instagram"></i></a>
			</div>
		</div>
	</div>
</footer>
