<!-- navigation component -->

<nav id="main-nav">
    <div class="wrapper">
        <a href="/">
            <img src="{{ .path }}assets/logos/main-gradient.svg" id="nav-logo" />
        </a>
        <ul>
            <a href="/projects/"><li>Projects</li></a>
            <a href="https://medium.com/user-experience-society-dlsu/"><li>Articles</li></a>
            <a href="/events/"><li>Events</li></a>
            <a href="/about/"><li>About Us</li></a>
            <a href="/"><li class="active">Home</li></a>
        </ul>
    </div>
</nav>
