/* Main channel and theme for the UX Society Website */

@import url(nav.css);
@import url(button.css);
@import url(content.css);
@import url(card.css);
@import url(event-banner.css);
@import url(header.css);
@import url(section.css);
@import url(footer.css);

@font-face {
	font-family: 'Proxima-Nova';
	src: url('../assets/fonts/ProximaNova-Regular.otf') format("opentype");
}

@font-face {
	font-family: 'Proxima-Nova-Bold';
	src: url('../assets/fonts/ProximaNova-Bold.otf') format("opentype");
}

:root {
	--main-gray: #7F8389;
	--main-pale: #EEF1F6;
	
	--main-color: #333333;
	--main-green: #34BC9B;
	--main-blue: #2CBAC2;

	--main-gradient: linear-gradient(60deg, #2CBAC2, #34BC9B);

	font-family: 'Proxima-Nova';
}

html, body {
	padding: 0;
	margin: 0;
}

body {
	padding-top: 76.83px;
	color: var(--main-gray-light);
	background-color: white;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
	font-weight: bold;
	margin: 0;
	color: var(--main-color);
}

h1, h2 {
	font-family: 'Proxima-Nova-Bold';
	margin-bottom: 0.5em;
}

hr {
	border: none;
	border-bottom: thin solid white;
}

p {
	margin: 1.3em 0;
	padding: 0;
	font-size: 1.1em;
	line-height: 1.5em;
	color: var(--main-gray);
}

a {
	text-decoration: none;
	color: var(--main-gray);
	transition: ease all 0.3s;
}

a *{
	display: inline-block;
	vertical-align: middle;
}

a:hover *{
	color: var(--main-green);
}

a i{
	font-size: 1.5em;
	transition: ease all 0.1s;
	margin-left: 0.1em;
}

a:hover i{
	margin-left: 0.5em;
}

a:hover button{
	color: white;
}

b {
	font-family: Proxima-Nova;
	font-weight: lighter;
}

div.wrapper {
	width: 70em !important;
	margin: 0 auto;
	box-sizing: border-box;
}

section > div.wrapper, header > div.wrapper,
footer > div.wrapper {
	padding: 4em 0;
}

section.pale, header.pale {
	background-color: var(--main-pale);
}

.green{
	color: var(--main-green);
}

.flex-between{
	display: flex;
	justify-content: space-between;
}

.flex-middle{
	align-items: center;
}

.three-column-content > *{
	width: 30%;
}
