section.pale {
    background-color: var(--main-pale);
}

section.gradient {
	background: var(--main-gradient);
}

section.gradient div.content-wrapper * {
	color: white;
}

section.gradient div.content-wrapper p {
	width: 33em;
}

section img.featured-image {
	width: 50%;
	display: block;
}