<!-- about us page -->
<header id="about">
	{{ $info := .Site.Data.info }}
	{{ partial "about-components/about-org" (dict "path" . "info" $info) }}
	{{ partial "about-components/vision-mission" (dict "path" . "info" $info) }}
	{{ partial "about-components/what-we-do" (dict "path" "") }}
</header>
<section>
	<div class="wrapper flex-between flex-middle">
		<img src="../assets/images/spaceman.png" alt="About us" class="featured-image" />
		<div class="content-wrapper">
			<h3 class="label">Who we are?</h3>
			<h1 class="heading">About Us</h1>
			<p>
				{{ .Site.Data.info.chapter_info }}
			</p>
			<p>
				{{ .Site.Data.info.about_us }}
			</p>
		</div>
	</div>
</section>
<section>
	<div class="wrapper">
		<div class="content-wrapper flex-between flex-middle">
			<div>
				<h3 class="label">What's our purpose?</h3>
				<h1 class="heading">The Mission-Vision</h1>
				<p>{{ .Site.Data.info.mission }}</p>
				<p>{{ .Site.Data.info.vision }}</p>
			</div>
			<img src="../assets/images/spaceman.png" alt="About us" class="featured-image right-pos" />
		</div>
	</div>
</section>
<section class="pale">
	<div class="wrapper">
		<img src="">
		<div class="content-wrapper flex-between three-column-content">
			<div>
				<h2>Web Design & Development</h2>
				<p>{{ .Site.Data.info.services.a }}</p>
			</div>
			<div>
				<h2>UX Education & Training</h2>
				<p>{{ .Site.Data.info.services.b }}</p>
			</div>
			<div>
				<h2>Community Engagement</h2>
				<p>{{ .Site.Data.info.services.c }}</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="wrapper">
		<div class="content-wrapper">
			<h3 class="label">Who are the people?</h3>
			<h1 class="heading">Our Pool Members</h1>
		</div>
	</div>
</section>
