<section>
    <div class="wrapper flex-between flex-middle">
        <img src="{{ .path }}assets/images/spaceman.png" alt="About us" />
        <div class="content-wrapper">
            <h3 class="label">Who we are?</h3>
            <h1 class="heading">About Us</h1>
            <p>
                The UX Society - DLSU is a recognized chapter belonging to the network of organizations headed by the UX Society founded in Ateneo de Manila University. Other chapters include UX Society Davao, UX Society Orange County (California).
            </p>
            <p>
                User Experience Society aids various organizations by accomplishing quality products and services by applying principles, concepts and methodologies in such strategies. We hold workshops, seminars and conferences to train members about the essentials skills of proper UX discipline and methodologies.
            </p>
            <a href="/about/"><button>Learn more</button></a>
        </div>
    </div>
</section>
