<header id="index">
    <div class="wrapper">
        <div class="content-wrapper" id="cta">
            <h3 class="label">What's New?</h3>
            <h1 class="heading">Figma Workshop</h1>
            <p>
                Imagine a tool you use to create screen designs and illustrations, but it had the features of collaboration that Google Documents or Presentations has— that's Figma! Figma is the first collaborative UI design tool built in the browser.
            </p>
            <button class="disabled">Sign up</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/events/">
                <span>Check our recent events</span>
                <i class="fas fa-long-arrow-alt-right"></i>
            </a>
        </div>
        <div class="card-feed">
            <div class="event-card">
                <div>
                    <h3 class="title">Information Architecture</h3>
                    <h4 class="date">July 28, 2018</h4>
                </div>
                <p class="description">
                    These are some of the few questions we ask when working on Information Architecture, an often misunderstood concept and practice that helps keep things clear for both the ones who craft and the ones who use.
                </p>
                <div class="speaker-details">
                    <div>
                        <h4 class="name">Mhariell Mosqueriola</h4>
                        <div class="cred">Lead User Experience Designer</div>
                    </div>
                    <div class="image">
                    </div>
                </div>
            </div>

            <div class="event-card">
                <div>
                    <h3 class="title">Leading A UX Team</h3>
                    <h4 class="date">July 14, 2018</h4>
                </div>
                <p class="description">
                    Designing for experiences has always been effective as a collaborative process - teams develop more ideas and productivity increases. Happening on July 14, 2018, join us as we learn how conquering all forms of project undertakings can be done through leadership and teamwork.
                </p>
                <div class="speaker-details">
                    <div>
                        <h4 class="name">Tisha Ibasco</h4>
                        <div class="cred">Experience Design Lead</div>
                    </div>
                    <div class="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
